
/***********************************
ABOUT US BACKGROUND HEADER
*************************************/



.body-about-us {

    background: url('../img/lebron-background-3.jpg');
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: top;
    background-size: cover;
    top: 0;
    z-index: -1;
    /* filter: brightness(40%); */
    background-attachment: fixed;

}