.section-carrito{

 border: 4px solid white ;
 display: none;
 position: fixed;
 background-color: rgba(115, 110, 110, 0.952);
 top: 50px;
 width: 60%;
 z-index: 1;
left: 20%;
right: 20%;
bottom: 40px;
box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
     &--visible{
          display: block;
     }
}

