


.body-alta {
     background: url('../img/PostMalone-background-4.jpg');
    //  height: 14%;
     width: 100%;
     position: absolute;
     background-position: top;
     background-size: cover;
     top: 0;
     z-index: -1;
     filter: brightness(100%); 
     background-attachment: fixed;
 
 }
 
 
 .body-contact{
     background: url('../img/Yvonne_Solo.jpg');
     height: 10%;
     width: 100%;
     position: absolute;
     background-position: top;
     background-size: cover;
     top: 0;
     z-index: -1;
     /* filter: brightness(40%); */
     background-attachment: fixed;
 
 }
 
 .body-cards{
     background: url('../img/MD_Harden_ST3.jpg');
     height: 10%;
     width: 100%;
     position: absolute;
     background-position: top;
     background-size: cover;
     top: 0;
     z-index: -1;
     background-attachment: fixed;
 
 }
 
 
 .about-section {
     background: url('../img/lebron-background-3.jpg') no-repeat left;
     background-size: 65%;
     background-color: #fdfdfd;
     overflow: hidden;
     padding: 100px 0;
 }
 
 
 .body-about {
     background: url('../img/lebron-background-3.jpg');
     height: 100%;
     width: 100%;
     position: absolute;
     background-position: top;
     background-size: cover;
     top: 0;
     z-index: -1;
     /* filter: brightness(40%); */
     background-attachment: fixed;
 
 }